html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}
html {
    line-height: 1
}
ol,
ul {
    list-style: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}
q,
blockquote {
    quotes: none
}
q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none
}
a img {
    border: none
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}
body {
    -webkit-font-smoothing: antialiased;
    padding: 0 20px;
    font-size: 1.1em;
    font-family: 'Alegreya', serif;
    /* color de la orilla */
    background: #AFC7EA
}
#wrapper {
    font-size: 1.3125em;
    line-height: 1.52381em;
    padding: 90px;
    margin: 60px 60px;
    background: #FEFEFE;
    -moz-box-shadow: rgba(178, 176, 174, 0.7) 0 0 2px inset;
    -webkit-box-shadow: rgba(178, 176, 174, 0.7) 0 0 2px inset;
    box-shadow: rgba(178, 176, 174, 0.7) 0 0 2px inset;
    border: solid 1px #737271;
     -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px
   -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px
}
#wrapper h1 {
    font-size: 2em;
    line-height: 0.95em;
    margin-top: -1em;
    margin-bottom: 0.5em
    font-family: 'Alegreya SC', serif;
}
#wrapper h2 {
    font-size: 1.5em;
    line-height: 1.1em;
    margin-top: 1em;
    margin-bottom: 0.35em
    font-family: 'Alegreya SC', serif;
}
#wrapper h3 {
    font-size: 1.25em;
    line-height: 1.1em;
    margin-top: 1em;
    margin-bottom: 0.25em
    font-family: 'Alegreya SC', serif;
}
#wrapper h4 {
    font-size: 1em;
    line-height: 1.1em;
    margin-top: 1.52381em;
    margin-bottom: 1.52381em
    font-family: 'Alegreya SC', serif;
}
#wrapper h5 {
    font-size: 1em;
    line-height: 1.1em;
    margin-top: 1.52381em;
    margin-bottom: 1.52381em
    font-family: 'Alegreya SC', serif;
}
#wrapper h6 {
    font-size: 1em;
    line-height: 1.1em;
    margin-top: 1.52381em;
    margin-bottom: 1.52381em
    font-family: 'Alegreya SC', serif;
}
#wrapper img {
    max-width: 100%;
    height: auto
}
#wrapper dd {
    margin-bottom: 1em
}
#wrapper li>p:first-child {
    margin: 0
}
#wrapper caption,
#wrapper col,
#wrapper colgroup,
#wrapper table,
#wrapper tbody,
#wrapper td,
#wrapper tfoot,
#wrapper th,
#wrapper thead,
#wrapper tr {
    border-spacing: 0
}
#wrapper table {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-collapse: collapse;
    display: table;
    empty-cells: hide;
    margin: -1px 0 23px;
    padding: 0;
    table-layout: fixed;
    width: 100%
}
#wrapper caption {
    display: table-caption;
    font-weight: 700
}
#wrapper col {
    display: table-column
}
#wrapper colgroup {
    display: table-column-group
}
#wrapper tbody {
    display: table-row-group
}
#wrapper tfoot {
    display: table-footer-group
}
#wrapper thead {
    display: table-header-group;
    border-bottom: solid 1px #999
}
#wrapper td,
#wrapper th {
    display: table-cell
}
#wrapper tr {
    display: table-row
}
#wrapper table th,
#wrapper table td {
    font-size: 1.1em;
    line-height: 1.2;
    padding: .3em 1em 0
}
#wrapper dt,
#wrapper th {
    font-weight: 700
}
#wrapper dd {
    padding-left: 1.4em
}
#wrapper table tr:nth-child(even) {
    background: rgba(200, 200, 200, 0.25)
}
#wrapper figure {
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin: 1em 0 2em
}
#wrapper figcaption {
    font-style: italic;
    text-align: center
}
#wrapper pre {
    overflow: auto;
    display: block;
    margin: 1.4em auto;
    background: #FAF8F5;
    padding: 15px 10px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    border: solid 1px #ddd;
    font-size: .8em
}
#wrapper sup,
#wrapper sub,
#wrapper a.footnote {
    font-size: 1.4ex;
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: super
}
#wrapper sub {
    vertical-align: sub;
    top: -1px
}
#wrapper .footnote {
    font-size: .8em;
    vertical-align: super
}
#wrapper .footnotes p {
    font-size: 1.9ex
}
#wrapper ul ul,
#wrapper ol ol {
    margin-left: 1em
}
#wrapper li ul,
#wrapper li ol {
    margin-bottom: 0
}
.poetry #wrapper pre {
    display: block;
    font-family: Georgia, Garamond, serif !important;
    font-size: 110% !important;
    font-style: italic;
    line-height: 1.6em;
    margin-left: 1em
}
.poetry #wrapper pre code {
    font-family: Georgia, Garamond, serif !important
}
@media screen {
    .inverted {
        background: #252a2a
    }
    .inverted a {
        background: #252a2a
    }
    .inverted hr {
        border-color: #333f40 !important
    }
    .inverted p,
    .inverted td,
    .inverted li,
    .inverted h1,
    .inverted h2,
    .inverted h3,
    .inverted h4,
    .inverted h5,
    .inverted h6,
    .inverted pre,
    .inverted code,
    .inverted th,
    .inverted .math,
    .inverted caption,
    .inverted dd,
    .inverted dt {
        color: #fcf9f7 !important
    }
    .inverted pre code {
        color: #111 !important
    }
    .inverted table tr:nth-child(odd),
    .inverted table th:nth-child(odd),
    .inverted table td:nth-child(odd) {
        background: none
    }
    .inverted a {
        color: #a6d6db !important
    }
}
.max-width {
    max-width: 100%;
    height: auto
}

#wrapper {
    color: #666666
}
   
#wrapper a:link,
#wrapper a:visited {
  color: #00008B;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease; }

#wrapper a:hover,
#wrapper a:active {
  color: #0000f1;
  text-shadow: none;
  border: none; }

#wrapper a:after,
#wrapper span:after {
  color: #fff;
  background: #00003f; }





#wrapper h1,
#wrapper h2,
#wrapper h3,
#wrapper h4,
#wrapper h5,
#wrapper h6 {
    font-family: 'Alegreya SC', serif;
}
#wrapper p,
#wrapper ul,
#wrapper ol,
#wrapper pre,
#wrapper table,
#wrapper blockquote {
    margin-top: 32px;
    margin-bottom: 32px
}
#wrapper hr {
    border: 1px solid;
    margin: -1px 0
}
#wrapper ul ul,
#wrapper ol ol,
#wrapper ul ol,
#wrapper ol ul {
    margin-top: 0;
    margin-bottom: 0
}
#wrapper b,
#wrapper strong,
#wrapper em,
#wrapper small,
#wrapper code {
    line-height: 1
}
#wrapper sup,
#wrapper sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em	
}
#wrapper sub {
    top: 0.4em
}
#wrapper li {
    line-height: auto
}
#wrapper code {
    font-family: menlo, courier, monospace;
    font-size: 0.95em
}
#wrapper ol,
#wrapper ul {
    list-style-position: outside;
    margin-left: 2.3rem
}
#wrapper ul {
    list-style-type: disc
}
#wrapper ol {
    list-style-type: decimal
}
#wrapper strong,
#wrapper b {
    font-weight: 600
}
#wrapper em,
#wrapper i,
#wrapper q {
    font-style: italic
}
#wrapper blockquote {
    padding-left: 1em;
    border-left: 0.3125em solid grey;
    line-height: normal;
    margin: 0
}
#wrapper blockquote p {
    font-style: italic;
    margin: 0;
    font-size: 1.25em;
    line-height: 1.2em;
    margin: 1.2em 0 1.2em 0
}
@media screen and (max-width: 769px) {
    -webkit-text-size-adjust:none
}
body {
    margin: 0 !important
}
@media print {
    html,
    body {
        padding: 0 !important;
        background: #fff !important;
        border: none !important;
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important
    }
    #wrapper {
        padding: 0 !important;
        margin: 0 !important;
        background: #fff !important;
        color: #303030;
        position: relative;
        text-indent: 0;
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: none !important
    }
    #wrapper img,
    #wrapper table,
    #wrapper figure {
        page-break-inside: avoid
    }
}
